.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $link-color;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-link--header {
  display: block;
  position: absolute;
  top: 15px;
  left: 20px;
  @include tablet {
    top: 20px;
  }
}

.logo-link__studio--header-color {
  color: $main-color;
}

.logo-link__studio--footer-color {
  color: $footer-color;
}

.logo-link--footer {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
