$contact-color: #757575;
$main-color: #212121;
$footer-color: #ffffff;
$description-color: #757575;
$frame-color: #eeeeeeee;
$button-filter-color: #f5f4fa;
$hero-bgc: #c4c4c4;
$advantage-bgc: #f5f4fa;
$logo-color: #afb1b8;
$work-overlay-bgc: rgba(33, 150, 243, 0.9);
$backdrop-bgc: rgba(0, 0, 0, 0.2);
$modal-bgc: #ffffff;
$btn-hover-color: #188ce8;
$main-bgc: #ffffff;
$link-color: #2196f3;
